body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0; padding: 0;
}

.layout {
    display: grid;
	grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px minmax(calc(100vh - 200px), 100%) 100px;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer"
}

.navigators {
    margin-top: 1.5rem;
}

.navigators a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #468cbf;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
}

.header ul {
    display: inline-flex;
    padding-right: 20px;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    grid-area: footer;
}

/* common */
a.thesrc.brand {
    text-decoration: none;
}

.post-show header {
    font-size: 1.2rem;
}

.post-show > header > a {
    text-decoration: none;
    font-weight: bold;
    color: #468cbf;
}

.post-show .domain {
    color: grey;
    font-size: 0.8rem;
}

/* header and footer */
body > header, body > footer {
    margin: 0; padding: 0;
    overflow: hidden;
}

body > header {
    border-bottom: solid 1px #b8d7ee;
    color: #468cbf;
}
body > footer {
    margin-top: 40px;
    color: #468cbf;
    background-color: white;
    border-top: solid 1px #b8d7ee;
}

body > header > h1, body > footer > h1 { margin: 0; padding: 0; }
body > header > h1 { margin-right: 10px; }
body > header > h1, body > footer > h1 { font-size: 1.1em; }

body > header > h1 > a, body > footer > h1 > a {
    display: inline-block;
    padding: 7px 10px;
}
body > header > h1 > a, body > footer > h1 > a { color: #468cbf; }
body > header a:hover, body > footer a:hover { color: black; }
body > footer > h1 > a { opacity: 0.65; }
body > footer > h1 > a:hover { opacity: 1; }

header > h1 > a:hover .name, footer > h1 > a:hover .name {
    text-decoration: underline;
}
header > h1 > a .name .the, footer > h1 > a .name .the { opacity: 0.65; }
header > h1 > a:hover .name .the, footer > h1 > a:hover .name .the { opacity: 1; }

/* nav */
body > header > h1 { display: inline-block; }
nav {
    display: inline-block;
    margin: 0; padding: 0;
}
nav > ul, nav > ul > li { margin: 0; padding: 0; }
nav > ul > li { list-style-type: none; }
nav > ul > li > a {
    padding: 7px 10px;
    color: #468cbf;
    text-decoration: none;
}
nav > ul > li > a:hover {
    text-decoration: underline;
}

/* main */
body > section.main {
    padding: 14px 10px;
}
.home-page h1, h2 {
    color: #468cbf;
    text-transform: lowercase;
}

.home-page h1 {
    font-size: 2rem;
}

/* create post form */
.create-post {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-transform: lowercase;
}

.create-post label {
    padding: 1.2rem 0 0.2rem 0;
    font-weight: bold;
    color: #468cbf;
}

.create-post input, textarea {
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px #468cbf solid; 
}

.create-post button {
    color: white;
    background-color: #468cbf;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

/* posts */
ol.posts {
    margin: 0; padding: 0;
    list-style-type: none;
}
li.post {
    margin-bottom: 8px;
    color: #aaa;
    clear: both;
    font-size: 1.2rem;
}
li.post div.post {
    margin-left: 38px;
    padding-left: 20px;
}
li.post .post-link {
    color: #468cbf;
    text-decoration: none;
}
li.post .post-link:hover {
    color: black !important;
    text-decoration: underline;
}
li.post .post-link:visited { color: #777; }
li.post .domain {
    color: #999;
    font-size: 0.75em;
}
li.post .post-body {
    margin: 4px 0 0 0;
    font-size: 0.82em;
    color: #666;
    max-width: 600px;
}
li.post .post-info, li.post .post-info li { margin: 0; padding: 0; }
li.post { position: relative; }
li.post .post-info {
    float: left;
    width: 38px;
    text-align: right;
}
li.post .post-info li {
    list-style-type: none;
    margin-bottom: 3px;
}
li.post .post-info li a {
    display: inline-block;
    text-align: center;
    width: 45px;
    color: #777;
    border-radius: 3px;
    border: solid 1px #e7e7e7;
    background-color: #f3f3f3;
    padding: 2px;
    font-size: 0.75em;
    text-decoration: none;
    white-space: nowrap;
    overflow: visible;
}

