{{define "Head"}}<title>Home</title> {{end}}

{{define "Main"}}
<div class="home-page">
    <h1>👋 Welcome </h1> 
    <div>
        <h2>Let me browse now!</h2>
        <p> This is a news browsing software after all, enjoy! (click posts, top right corner) Oh and you can also submit some of your own if you go for the `submit` button</p>

        <h2>Features</h2>
        <p>
        Here come a list of features, buzz-words to get excited about:
        </p>
        <ul>
            <li>Open Source Software: <a href="https://github.com/bogthe/bogthesrc">bogthe/bogthesrc</a>; </li>
            <li>Built with Go 1.12: modules + testing (a pragmatic approach);</li>
            <li>RESTful JSON Api to serve posts, serve a post by ID and creation of posts;</li>
            <li>Deterministic development environment aka Docker with docker-compose to create a development environment which uses reflex for reloading of code and spins up two services: app and PostgreSQL;</li> 
            <li>WebApp built using go templates with CSS3 Flexbox and Grids;</li>
            <li>A Command Line Interface (cli) to spin up the server, create / drop the database,create a basic post, start the importer service</li>
            <li>Importers: asynchronous workers that scrape the hacker news API, transforms the data, and inserts it into our database</li>
        </ul>

        <h2>Reason</h2>
        <p>
        The main reason for this website is to have fun and build something useful using the beautiful language / ecosystem that Go provides. The main source of inspiration is a project called <a href="https://github.com/sourcegraph/thesrc">`thesrc`</a>. 
        </p>
        <p>I went through every single one of the project's commits from commit 1 to final to learn how their project evolved. It taught me a lot about what a production app might be structured around: folder structures, code structure, abstractions, DB interaction etc. Some abstractions I kept, some I discarded and other functionality was added specifically importing from the hackernews API endpoints.</p> 
        <p>
        I will be sharing all my learnings on my personal blog <a href="https://bogthe.me/">bogthe.me</a>
        </p>
    </div>
</div>
{{end}}
